body{
    background-color: lightslategray;
    text-align: center;
    width: 100%;
    padding: 0%;
}
header{
    font-size: 45px;
    text-align: center;
    color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
    /* animation-name: simple; */
    animation-duration: 3s;
    animation-fill-mode: forwards;
    width: 100%;
}

footer{
    padding: 100px;
    color: blanchedalmond;
    font-size: 30px;
}

.content{
    color: ivory;
    padding: 10px;
    text-align: left;
}
@keyframes simple{
    0%{
        transform: scale(1);
        width: 100%;
    }
    80%{
        transform: scale(1.5);
        width: 100%;
    }
    100%{
        transform: scale(1.2);
        width: 100%;
    }
}