header{
    text-align: center;
    color: black;
    font-size: 50px;
}
.Form{
    background-color: turquoise;
    padding: 20px;
    border: 3px solid black;
    width: 45%;
    text-align: left;
    margin-left: 25%;
}
.Reg{
    text-align: center;
}
.nm{
    color: brown;
}
.in{
    background-color: coral;
    
}