h1{
    color: Red;
    text-align: center;
    background-color: honeydew;
}
blockquote{
    color: rgb(42, 165, 52);
}
body{
    background-color:black;
    
}
p{
    text-align: center;
    text-decoration: rgb(255, 255, 255);
    
}
table thead tr{
    color: white;
}

nav{
    background-color: honeydew;
    table-align : center
}
h3{
    color: rgb(245, 245, 245);

}
.Intro{
    color: teal;
    background-color: honeydew;
}
table tbody td{
    color: floralwhite;
}
h4{
    background-color: honeydew;
}
.contact{
    background-color: whitesmoke;
    color: tomato;
}
.follow{
    color: skyblue;
    background-color: white;
}
img{
    max-width: 100%;
    max-height: 100%;
}