/*html, body {
    margin: 0;
    overflow: hidden;
    width: 100vw;
}

 body::-webkit-scrollbar {
    background: unset;
} 

body::-webkit-scrollbar-button {
    color: unset;
} 

body::-webkit-scrollbar-thumb {
    color: teal;
}

h1{
    color: Red;
    text-align: center;
    background-color: honeydew;
}
p{
    text-align: center;
    text-decoration: rgb(255, 255, 255);
    
}
table thead tr{
    color: floralwhite;
    background-color: lightgreen;
}

table tbody td{
    color: floralwhite;
    background-color: lightgreen;
}
h4{
    background-color: honeydew;
}
.contact{
    background-color: whitesmoke;
    color: tomato;
    position: absolute;
    bottom: 0px;
}
.follow{
    color: skyblue;
    background-color: rgba(0,0,0,0.5);
    bottom: 0px;
}
img{
    max-width: 100%;
    padding-left: 2%;
}
.Navi li{
    list-style: none;
    float: left;
    margin: 0%;
    text-decoration: none;
    margin-left: 5px;
}
U:after,.U:before{
    content: "";
    display: table;
}
.U:after{
    clear: both;
}
.U{
    zoom: 1;
}
.U a{
    design: block;
    float: right;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 2px solid rgb(128, 0, 60) ;
    background-color: ;
}
.U a:hover{
    background-color: pink;
}
.image-inside p{
    position: absolute;
    bottom: 0%;
    color: lightgreen;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding-left: 2%;
    padding-right: 2%;
    max-width: 95%;
}
.Navi{
    position: absolute;
    top: 20%;
}
.imgage{
    position: relative;
}

.nav_links {
    color: white;
    text-decoration: none;
    border: 2px red;
    padding: 10px 8px;
}

.nav_links:active {
    color: initial;
}

.nav_links:visited {
    color: white;
}

.navbar {
    width: 100%;
    height: 25px;
    margin-top: 10px;
    backdrop-filter: blur(20px);
    font-family: sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-stretch: semi-condensed;
    letter-spacing: 2px;
}*/
body{
    background-color: rgb(226, 255, 192);
    text-align: center;
    font-size: 250%;
}

.head{
    font: 40px;
}

.Options a{
    font-size: 25px;
    text-transform: uppercase;
    font-stretch: semi-condensed;
    letter-spacing: 2px;
    text-decoration: none;
    
    position: absolute;
    top: 20%;
}
.description{
    font-size: 15px;
    position: absolute;
    bottom: 0%;
}
table thead tr{
    color: floralwhite;
    background-color: lightgreen;
}

table tbody td{
    color: floralwhite;
    background-color: lightgreen;
}
.alpha{
    color: white;
    background-color: lightgreen;
    font-size: ;
}
img{
    width: 100%;
}
.social{
    font-size: 50%;
}
table{
    font-size: 50%;
}
.image{
    position: relative;
}